.lead__title {
  width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .lead__title {
    width: 90%;
    font-size: 55px;
    line-height: 61px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 44px;
  }
}
